body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FAE7C9;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

header{
    text-align: center;
    color: #706233;
    
}

h1{
    color: #776B5D;
    margin: 0px;

}


header h4{
    margin-top: 32px;
    color: #776B5D;
}

p {
    margin-top:-15px;
    font-size: small;
    color: #706233;
    margin-bottom: 20px;
}

img{
    max-width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}


.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

input{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


#squareSide{
    margin-top: 10px;
    width: 25%;
    outline: none;
    border-radius: 10px;
    border: solid #687EFF;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

#squareSide:focus{
    border: solid #706233;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

button{
    background-color: #B0926A;
    color: #FAE7C9;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}


button:hover{
    background-color: #706233;
}

button:active{
    background-color: #3a3112;
    transform: translateY(2px);
}

.result{
    font-weight: bold;
    text-align: left;
}

strong {
    font-weight: bold;
}